.header-navigation-wrapper {
	
	margin-right: 30px;
}
.header-toggles .dropdown ul li{
    text-align: left;
    list-style-type: square;
}
.header-toggles .dropdown ul li a{
    font-size: 14px;
    color: #000 !important;
}
.header-toggles .dropdown ul li:hover{
    background-color: #6d6d6d;
}



.search-form .search-field {
	border: 1px solid #ccc;
    border-radius: 4px;
	margin-left: 3rem!important;
    height: 20px;
	width: 100%;
}

.search-form .search-submit {
	
	margin-left: 10px;
	font-size: 14px;
    height: 32px;
	line-height: 0;
	
	text-transform: none;
	color: gray!important;
	background-color: #fff;
	border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form .search-submit:focus,
.search-form .search-submit:hover {
	text-decoration: none;
}
.dropdown-toggle{
    list-style-type: none;
}
.header-toggles .dropdown ul li a {
    
    text-decoration: none;
}
.header-toggles .dropdown ul li {
    list-style-type: none;  
   
}
.dropdown {
    list-style-type: none;
    text-align: center;
   
}
.dropdown .dropdown-toggle i {
    margin-right: 15px;
}
.dropdown .dropdown-toggle{
    text-decoration: none;
    color: gray;
}
body:not(.overlay-header) .primary-menu > li > a{
    color: gray!important;
}
header .header-inner{
    padding: 20px!important;
}
.dropdown-menu.show{
	display: inline-block;
	width: 150px;
	left: -40px;
}
body:not(.overlay-header) .header-inner .toggle-wrapper::before{
	background-color: none;
}
.header-toggles .dropdown ul li:hover{
    background-color: #6d6d6d;
   }
.header-toggles .dropdown-toggle{
       text-decoration: none;
       
}